In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
data1 = pd.read_excel('wheat_data.xlsx', index_col=0)
data2 = pd.read_excel('wheat_data.xlsx', index_col=0)
data.head()

,Yield,Production Amount,Nitrogen (N),Phosphorous (P2O5),POTASH (K2O),September Average Minimum Temperature,October Average Minimum Temperature,November Average Minimum Temperature,December Average Minimum Temperature,January Average Minimum Temperature,...,September Monthly Precipitation,October Monthly Precipitation,November Monthly Precipitation,December Monthly Precipitation,January Monthly Precipitation,February Monthly Precipitation,March Monthly Precipitation,April Monthly Precipitation,May Monthly Precipitation,June Monthly Precipitation
Year,,,,,,,,,,,,,,,,,,,,,
2004,220,380867,67576.2700,30445.530,154.9500,20.2,16.0,8.7,4.2,3.2,...,0.1,23.1,36.1,64.4,138.8,92.0,3.2,51.6,27.3,29.2
2005,291,456434,65453.6900,28306.070,330.2200,20.7,16.5,8.5,2.6,3.3,...,28.1,3.4,187.7,7.8,64.4,69.5,23.1,25.2,9.9,31.3
2006,296,484943,70153.3800,31615.415,167.3100,19.8,13.2,7.0,6.1,1.6,...,28.1,17.4,54.4,39.6,99.4,58.5,6.2,81.1,17.4,0.3
2007,324,487968,84170.3325,30741.160,896.1200,21.0,16.0,7.4,2.7,1.4,...,28.1,42.5,26.2,23.3,57.5,93.2,56.6,49.2,8.8,0.8
2008,279,386488,79907.5678,20778.590,1104.0722,22.0,16.5,8.6,3.6,0.0,...,28.1,25.9,15.4,45.6,57.1,28.3,12.4,1.8,26.7,8.6